{#title}DEMO{/#}

{#content}

<ul class="breadcrumb">
	<li><a n:href="Homepage:">home</a></li>
	<li class="active">demo</li>
</ul>

<h2>Tabulkový masakr</h2>

<p>Následuje seznam příkladů o kterých se psalo v některých ze článků.</p>

<a n:href="Demo:tabulkovy-masakr1">Tabulkový masakr #1</a><br>
<a n:href="Demo:tabulkovy-masakr2">Tabulkový masakr #2</a><br>
<a n:href="Demo:tabulkovy-masakr3">Tabulkový masakr #3</a><br>

{/#}