{
  "env": {
    "node": true,
    "jest": true
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "prettier",
    "prettier/react",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "import",
    "jest",
    "prettier",
    "react",
    "flowtype",
    "promise"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "printWidth": 80,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "all"
      }
    ],
    "promise/always-return": "warn",
    "promise/no-return-wrap": "error",
    "promise/param-names": "error",
    "promise/catch-or-return": "error",
    "promise/no-nesting": "warn",
    "promise/no-promise-in-callback": "warn",
    "promise/no-callback-in-promise": "warn",
    "promise/avoid-new": "off",
    "flowtype/require-valid-file-annotation": [
      "error",
      "always", {
        "annotationStyle": "line"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/display-name": "off"
  }
}
