{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "standard",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": [
    "flowtype",
    "react",
    "prettier",
    "standard"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "printWidth": 80,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "all"
      }
    ],
    "flowtype/require-valid-file-annotation": [
      "error",
      "always", {
        "annotationStyle": "line"
      }
    ]
  }
}
