log/*
temp/*
libs/*

.idea/*

!.gitignore
!.htaccess
!web.config

composer.lock
app/config/config.local.neon
tests/coverage.dat
tests/coverage.html

!fshlTexy.php
!JavaScriptLoader.php
!OutputNamingConvention.php
!Tex.php