# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

testbench:
    prefix: _testbench_zlml_
    sqls:
        - %appDir%/../zlml.sql
