{var $robots = 'noindex'}
{block content}

	{default $children = '.administration($'. ($account ? $account->username : 'newUser') .');'}
	{include ../@pageHeader.latte, children => $children}

	{include menu.latte}

	<div class="adminLayout">
		{if $account}
			<h2>Úprava uživatele <strong>{$account->username}</strong></h2>
		{else}
			<h2>Založení nového uživatele</h2>
		{/if}
		{control userEditForm}
	</div>

{/block}
