# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

includes:
	- webloader.neon

php:
	date.timezone: Europe/Prague

session:
	debugger: TRUE
	expiration: 14 days

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\*Presenter

di:
	debugger: TRUE

services:
	routerFactory: App\RouterFactory
	router: @routerFactory::createRouter
	- Model\Authenticator
	- Model\Authorizator
	- Model\Pictures(@doctrine.dao(Entity\Picture))
	- Model\Posts(@doctrine.dao(Entity\Post))
	- Model\PostsMirror(@doctrine.dao(Entity\PostMirror))
	- Model\Settings(@doctrine.dao(Entity\Setting))
	- Model\Tags(@doctrine.dao(Entity\Tag))
	- Model\Users(@doctrine.dao(Entity\User))

	adminMenuFactory: Cntrl\IAdminMenuFactory
	- Cntrl\ISignInFactory
	- Cntrl\IPostFormFactory
	- Cntrl\IUserEditFormFactory
	- Cntrl\IVisualPaginatorFactory
	- App\AdminModule\AdminPresenter # Kdyby\Events!

events:
	subscribers:
		- PostsListener
		- RestrictListener

annotations:
	ignore:
		- secured

extensions:
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	console: Kdyby\Console\DI\ConsoleExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	events: Kdyby\Events\DI\EventsExtension
	webloader: WebLoader\Nette\Extension
	- PictureExtension
