# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning


includes:
	- extensions.neon
	- services.neon
	- webloader.neon


annotations:
	ignore:
		- secured


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\*Presenter


di:
	debugger: TRUE


php:
	date.timezone: Europe/Prague


session:
	debugger: TRUE
	expiration: 14 days
