#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	session:
		debugger: TRUE
		expiration: 14 days
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\*Presenter
	container:
		debugger: TRUE
		accessors: TRUE

services:
	authenticator: Model\Authenticator
	routerFactory: App\RouterFactory
	router: @routerFactory::createRouter
	- Model\Posts

extensions:
	ajax: VojtechDobes\NetteAjax\Extension