#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#

parameters:
	database:
		host: 127.0.0.1
		username: root
		password: ''
		database: ''
		lazy: TRUE
		profiler: TRUE

nette:
	database:
		dsn: 'mysql:host=127.0.0.1;dbname=sample'
		user: 'root'
		password: ''