parameters:
	database:
		host: 127.0.0.1
		username: root
		password: ''
		database: ''
		lazy: TRUE
		profiler: TRUE

nette:
	database:
		dsn: 'mysql:host=127.0.0.1;dbname=sample'
		user: 'root'
		password: ''