parameters:
	clientVendorDir: %appDir%/../vendor-client

webloader:
	css:
		default:
			sourceDir: %clientVendorDir%
			files:
				- bootstrap/dist/css/bootstrap.min.css
				- codemirror/lib/codemirror.css
				- %wwwDir%/css/screen.less
			fileFilters:
				- @lessFilter
				- @cssUrlsFilter

	js:
		default:
			sourceDir: %clientVendorDir%
			files:
				- jquery/dist/jquery.js
				- bootstrap/dist/js/bootstrap.min.js
				- nette-forms/src/assets/netteForms.js
				- nette.ajax.js/nette.ajax.js
				- codemirror/lib/codemirror.js
				- %wwwDir%/js/main.js

services:
	lessFilter: WebLoader\Filter\LessFilter
	cssUrlsFilter: WebLoader\Filter\LessFilter