# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning


doctrine:
	host: zlml-cz.cef1ywtqp8ab.eu-central-1.rds.amazonaws.com
	port: 3306
	user: root
	password: rootpass
	dbname: zlml_cz
	driver: pdo_mysql
