<div class="list-group">
	{foreach $contributors as $contributor}
		<a class="list-group-item">
			<h4 class="list-group-item-heading">{$contributor}</h4>
			{* TODO: <p>, badge *}
		</a>
	{/foreach}
	<a href="{plink Admin:setting}"
	   n:class="$presenter->isLinkCurrent(':Admin:setting')?'list-group-item active':'list-group-item'">
		<h4 class="list-group-item-heading">
			<span class="glyphicon glyphicon-cog"></span>
			Nastavení
		</h4>
	</a>
</div>