<div class="list-group">
	{foreach $contributors as $contributor}
		<a href="{$contributor->link}"
		   n:class="$presenter->isLinkCurrent($contributor->link)?'list-group-item active':'list-group-item'">
			<span class="badge">{$contributor->badge}</span>
			<h4 class="list-group-item-heading">{$contributor->heading}</h4>

			<p class="list-group-item-text">{$contributor->text}</p>
		</a>
	{/foreach}
	<a href="{plink Admin:setting}"
	   n:class="$presenter->isLinkCurrent(':Admin:setting')?'list-group-item active':'list-group-item'">
		<h4 class="list-group-item-heading">
			<span class="glyphicon glyphicon-cog"></span>
			Nastavení
		</h4>
	</a>
</div>
