<div class="list-group">
	<a href="{plink :Admin:default, id => NULL}" n:class="$presenter->isLinkCurrent(':Admin:default')?'list-group-item active':'list-group-item'">
		<h4 class="list-group-item-heading">Přidat nový článek</h4>
		<p class="list-group-item-text">Napište nový článek</p>
	</a>

	<a href="{plink :Admin:pictures}" n:class="$presenter->isLinkCurrent(':Admin:pictures')?'list-group-item active':'list-group-item'">
		<span class="badge">{$picturecount}</span>
		<h4 class="list-group-item-heading">Nahrát nový obrázek</h4>
		<p class="list-group-item-text">Zde nahrajte obrázky</p>
	</a>

	<a href="{plink :Admin:prehled}" n:class="$presenter->isLinkCurrent(':Admin:prehled')?'list-group-item active':'list-group-item'">
		<span class="badge">{=ITEMCOUNT}</span>
		<h4 class="list-group-item-heading">Přehled článků</h4>
		<p class="list-group-item-text">Podívejte se na starší články</p>
	</a>

	<a href="{plink :Admin:tags}" n:class="$presenter->isLinkCurrent(':Admin:tags')?'list-group-item active':'list-group-item'">
		<span class="badge">{$tagcount}</span>
		<h4 class="list-group-item-heading">Přehled tagů</h4>
		<p class="list-group-item-text">Prohlédněte si tagy</p>
	</a>

	<a href="{plink :Admin:users}" n:class="list-group-item,preg_match('/^user[a-z-]*$/i',$presenter->view)?active">
		<span class="badge">{$usercount}</span>
		<h4 class="list-group-item-heading">Přehled uživatelů</h4>
		<p class="list-group-item-text">Upravte práva uživatelům</p>
	</a>

	{*<a n:href=":Admin:setting" n:class="$presenter->isLinkCurrent(':Admin:setting')?'list-group-item active':'list-group-item'">
		<h4 class="list-group-item-heading">
			<span class="glyphicon glyphicon-cog"></span>
			Nastavení
		</h4>
	</a>*}

	{*foreach $menuStack as $menu}
		{$menu}
	{/foreach*}
</div>