<!DOCTYPE html>
<html lang="cs" dir="ltr" n:class="$wfont ? wf-active">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	{block meta}{/block}
	<title n:inner-snippet="title">{block title|striptags}BLOG{/block} | Martin Zlámal</title>

	{if !$wfont} {* see: https://www.souki.cz/jak-efektivne-nacitat-webfonty *}
		<script>
			WebFontConfig = {
				google: {
					families: ['Open+Sans:300italic,600italic,600,300'],
					//text: 'MartinZlám'
				},
				active: function () {
					document.cookie = 'wfont=1; expires=' + (new Date(new Date().getTime() + 86400000)).toGMTString() + '; path=/'
				}
			};
		</script>
		<script src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" async defer></script>
		<link rel="prefetch" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,600,300">
	{else}
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,600,300"
		      rel='stylesheet'
		      type='text/css'>
	{/if}

	<link rel="stylesheet" href="{$basePath}/dist/{$cssFile}">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
	{block scripts}
		<script rel="text/javascript" src="{$basePath}/dist/{$jsFile}"></script>
	{/block}
</head>

<body>
	<script> document.body.className += ' js' </script>

	<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
		<div class="wrapper">{$flash->message|texy}</div>
	</div>
	{include content}

	<div class="wrapper--smaller footer">
		Running thanks to <a href="http://nette.org/" target="_blank">Nette Framework</a><br>
		Also running thanks to you - my readers and followers!<br>
		&copy; 2012 - {php echo date("Y"); }&nbsp;<span class="glyphicon glyphicon-qrcode"></span>
		{if $user->isLoggedIn()}
			<br>
			{form signOutForm}
				{input logout}
			{/form}
		{/if}
	</div>

	<script type="text/javascript" n:if="preg_match('/^http:\/\/(www.)?zlml.cz/i', $baseUrl)">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', {$setting->ga_code}]);
		_gaq.push(['_trackPageview']);
		(function () {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>
