# Apache configuration file (see httpd.apache.org/docs/2.2/mod/quickreference.html)

# disable directory listing
Options -Indexes

# enable cool URL
<IfModule mod_rewrite.c>
	RewriteEngine On
	# RewriteBase /

	# prevents files starting with dot to be viewed by browser
	RewriteRule /\.|^\. - [F]

	# front controller
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule !\.(pdf|js|ico|gif|jpg|png|css|rar|zip|tar\.gz)$ index.php [L]
</IfModule>

# enable gzip compression
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript text/javascript application/javascript application/json
</IfModule>

# allow combined JavaScript & CSS. Inside of script.combined.js you could use <!--#include file="script.js" -->
<IfModule mod_include.c>
	<FilesMatch "\.combined\.(js|css)$">
		Options +Includes
		SetOutputFilter INCLUDES
	</FilesMatch>
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive on

	ExpiresByType image/jpg "now plus 60 days"
	ExpiresByType image/png "now plus 60 days"
	ExpiresByType image/gif "now plus 60 days"
	ExpiresByType image/jpeg "now plus 60 days"

	ExpiresByType text/css "now plus 1 days"

	ExpiresByType image/x-icon "now plus 1 month"

	ExpiresByType application/pdf "now plus 1 month"
	ExpiresByType audio/x-wav "now plus 1 month"
	ExpiresByType audio/mpeg "now plus 1 month"
	ExpiresByType video/mpeg "now plus 1 month"
	ExpiresByType video/mp4 "now plus 1 month"
	ExpiresByType video/quicktime "now plus 1 month"
	ExpiresByType video/x-ms-wmv "now plus 1 month"
	ExpiresByType application/x-shockwave-flash "now 1 month"

	ExpiresByType text/javascript "now plus 1 week"
	ExpiresByType application/x-javascript "now plus 1 week"
	ExpiresByType application/javascript "now plus 1 week"

	ExpiresByType application/font-woff "access plus 1 month"
    ExpiresByType application/x-font-woff "access plus 1 month"
    ExpiresByType font/woff "access plus 1 month"

    ExpiresByType application/font-woff2 "access plus 1 month"
</IfModule>
