# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning


extensions:
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	console: Kdyby\Console\DI\ConsoleExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	events: Kdyby\Events\DI\EventsExtension
	pictures: App\Pictures\DI\PictureExtension
	posts: App\Posts\DI\Extension
	router: App\Routing\DI\Extension
	securityExtension: App\Security\DI\Extension
	settings: App\Settings\DI\Extension
	social: App\Social\DI\Extension
	tags: App\Tags\DI\Extension
	users: App\Users\DI\Extension
