# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning


services:
	# AdminModule:
	adminMenuFactory: App\AdminModule\Components\AdminMenu\IAdminMenuFactory
	- App\AdminModule\Components\PostForm\IPostFormFactory
	- App\AdminModule\Components\UserEditForm\IUserEditFormFactory

	# AuthModule:
	- App\AuthModule\Components\SignInForm\ISignInFactory

	# FrontModule:
	- App\FrontModule\Components\VisualPaginator\IVisualPaginatorFactory
