{form articleSuggestion}
	<ul class=error n:if="$form->ownErrors">
		<li n:foreach="$form->ownErrors as $error">{$error}</li>
	</ul>
	{input article, class => 'form-control', style => 'height:70px', placeholder => 'O čem by měl článek být?'}
	{input spam}
	{input send, class => 'btn btn-suggestion form-control'}
{/form}

<style>
	.btn-suggestion { border: 1px solid #ccc; margin-top: 5px; background: #F6F6DF; }
</style>