{var $robots = 'noindex'}
{block content}
	<div class="row">
		<div class="col-lg-3">
			{include menu.latte}
		</div>
		<div class="col-lg-9">
			<div class="alert alert-danger">
				Na této stránce se ještě pracuje. Chcete <a href="https://github.com/mrtnzlml/www.zeminem.cz/pulls"
				                                            target="_blank">pomoci</a>?
			</div>
			{* TODO *}
		</div>
	</div>
{/block}