{var $robots = noindex}

{block content}
	{default $children = '.failGracefully(TRUE);'}
	{include ../@pageHeader.latte, children => $children}

	<div class="wrapper">
		<h2 n:block=title>Access Denied</h2>

		<p>You do not have permission to view this page. Please try contact the web
			site administrator if you believe you should be able to view this page.</p>

		<p>
			<small>error 403</small>
		</p>
	</div>
{/block}
