{var $robots = noindex}

{block content}
	{default $children = '.failGracefully(TRUE);'}
	{include ../@pageHeader.latte, children => $children}

	<div class="wrapper">
		<h2 n:block=title>Page Not Found</h2>

		<p>The page you requested has been taken off the site. We apologize for the inconvenience.</p>

		<p>
			<small>error 410</small>
		</p>
	</div>
{/block}
