{var $robots = noindex}

{block content}
	{default $children = '.failGracefully(TRUE);'}
	{include ../@pageHeader.latte, children => $children}

	<div class="wrapper">
		<h2 n:block=title>Oops...</h2>

		<p>Your browser sent a request that this server could not understand or process.</p>
	</div>
{/block}
