<header class="page-header">
	<div class="wrapper">
		<nav>
			<div class="page-header__title">
				<h1>
					<a n:href=":Front:Homepage:">Martin Zlámal</a> {$children ?? '' |noescape}
				</h1>
			</div>
			<div class="page-header__social">
				<a href="https://twitter.com/mrtnzlml">@mrtnzlml</a><br>
				<a href="https://github.com/mrtnzlml/">github.com/mrtnzlml</a>
			</div>
		</nav>
	</div>
</header>
